<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcoco.springcloud.alibaba.repertory.mapper.UserMapper">
    <select id="findById" resultType="com.zcoco.springcloud.alibaba.api.vo.User">
        SELECT * FROM USER WHERE id = #{id}
    </select>


    <insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER (userName,age) values(#{userName},#{age})
    </insert>
</mapper>